.welcome-area {
  min-height: 637px;
  height: auto;
  position: relative;

  .welcome-area-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    img {
      position: absolute;
      width: 100%;
      height: auto;
      bottom: -1px;
      left: 0px;
      right: 0px;
      z-index: 5;
    }
  
  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.85;
    background-image: linear-gradient(127deg, #384dff 0%, #24cdff 91%);
    z-index: 3;
  }

  &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 50%;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: none;
    z-index: 6;
  }
  }
.welcome-content {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    z-index: 11;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    h1 {
        font-weight: 400;
        font-size: 36px;
        line-height: 46px;
        letter-spacing: 1.4px;
        color: #fff;
        margin-bottom: 30px !important;
    }
    p {
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        left: 0.53px;
        color: #fff;
        margin-bottom: 30px;
    }
    .apps {
        padding-top: 30px;
        .app-item {
            display: block;
            float: right;
            margin-bottom: 30px;
            -webkit-transition: all 0.3s ease 0s;
            -moz-transition: all 0.3s ease 0s;
            -o-transition: all 0.3s ease 0s;
            transition: all 0.3s ease 0s;
            .icon {
                box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06);
            }
        }
    }
    
}
}
.btn-white-line {
    display: block;
    width: 225px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 0.81px;
    border: 1px solid #fff;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    background: none;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    text-align: center;
    cursor: pointer;
}
a {
    text-decoration: none !important;
}