header, nav, section, article, aside, footer, hgroup {
    display: block;
}

 .main-nav .nav{
    float: right;
    margin-top: 30px;
}
a {
    color: #ffffff;
    text-decoration: none;
    background-color: transparent;
}
